.language {
  width: 75px;
  height: 35px;
  padding: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 8px;

  .language__selected {
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    width: 75px;
    height: 35px;
    border-radius: 8px;

    .arrow__icon {
      width: 14px;
      margin: 6px;
    }
  }

  .language__options {
    max-height: 433px;
    overflow-y: scroll;
    position: absolute;
    right: -8%;
    top: 0%;
    width: 135px;
    background: #fff;
    list-style: none;
    border-radius: 8px;
    padding: 6px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: slideIn 0.5s ease-out;

    .language__option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 8px;
      &:hover {
        background-color: var(--mainThemeColor);
        color: #fff;
      }
    }
  }

  .option__name{
    width: 34px;
  }

  .image__container {
    width: 41px;
    height: 23px;
    margin: 6px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      border: 1px solid #000;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
